
<h1>Belle Waters Jewelry</h1>
<h3 style="text-align:center">Discover our breathtaking selection of Vintage Turquoise Jewelry of the Southwest</h3>
<%= image_tag('bracelet.jpg', class: 'mx-auto d-block img-responsive my-image') %>
