<div class= "container_outer"
  <div class="panel panel-default">
    <div class="panel-body class="text-center">
      <h1>Thank You!</h1>
      <h5 class="text-center">Thank you. We have received your message and will respond as soon as possible.</h5>
    </div><!-- / panel-body -->
  </div><!-- / panel -->
</div><!-- / container_outer -->
