// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
th, td {
    padding: 15px;
    text-align: left;
}
#order_show h2 {
  margin-top: 50px;
}
#order_show ul{
  border: 1px solid #ccc;
  margin: 0 auto;
  width: 50%;
  padding: 3em;
}
.product_index h3 {
  hover: #ccccc;
}
.product_show {
	padding-top: 4em;
  padding-left: 2em;
}
.img p {
  padding: 0;
  padding-top: 1em;
  text-align: left;
}
.comments {
 float: left;
}
