// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
th, td {
    padding: 15px;
    text-align: left;
}
#order_show {
  padding-top: 5em;
  border: 1px solid #ccc;
  padding-top: 5em;
  margin: 0 auto;
  width: 50%;
}
