body, html{
  margin: 0;
  padding: 0;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
  padding-top: 2em;
}
h2 {
  text-align: center;
}
.navbar{
  position:fixed;
  width:100%;
  z-index:10;
  border-radius:0;
  border-color:transparent;
  top: 0;
}
my-image{
  width: 100%;
}
.center_p {
  text-align: center;
}
.d-block {
  max-height: 600px;
  padding-top: 2em;
}
.carousel-caption {
  color:black;
}
.carousel-control-prev, .carousel-control-next {
  opacity: .3 !important;
}
.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70,70,70,.25);
}
.carousel-indicators .active {
  background-color: #444;
}
.sign_up {
  padding-top: 5em;
}
.sign_in {
  padding-top: 5em;
}
